<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<p th:if="${error}" th:text="${error}"></p>
    <form method="POST" action="/user">
        <label>Username:<input name="username" type="text" th:value="${username}"></label>
        <label>Email:<input name="email" type="email" th:value="${email}"></label>
        <label>Password:<input name="password" type="password"></label>
        <label>Verify password:<input name="verify" type="password"></label>
        <input type="submit" value="Log In!">
    </form>

</body>
</html>